apiVersion: v1
kind: Service
metadata:
  name: api-${WERCKER_GIT_BRANCH}
  labels:
    app: rest-api
    branch: ${WERCKER_GIT_BRANCH}
    tag: ${WERCKER_GIT_COMMIT}
    environment: staging
spec:
  ports:
  - port: 8008
    protocol: TCP
  selector:
    app: rest-api
    branch: ${WERCKER_GIT_BRANCH}
    tag: ${WERCKER_GIT_COMMIT}
    environment: staging