# pytest-cov, coverage and codecov has to be in this specific order as
# the pip dependency resolver won't work alone
pytest-cov
coverage
codecov
aniso8601==0.92
dicttoxml==1.6.0
celery==4.2.1
envparse
Flask
Flask-Cors
Flask-Cache
Flask-Limiter
Flask-RESTful
Flask-Compress
Flask-Script
Flask-SQLAlchemy
Flask-SSLify
healthcheck
itsdangerous==0.24
Jinja2
logstash==0.1.dev0
MarkupSafe==0.23
meld3==1.0.0
Naked==0.1.30
nose
pycrypto>=2.6.1
python-json-logger==0.1.2
pytz==2014.10
PyYAML
six
ujson==1.33
urllib3
uWSGI==2.0.17.1
Werkzeug
Yapsy==1.10.423
numpy==1.9.2
redislite
requests
gevent==1.1.0
unicodecsv
blinker==1.4
ipaddr==2.1.11
mixpanel
mixpanel-py-async
jmespath==0.9.1
scipy==0.18.0
addict
elasticsearch-dsl>=5.0.0,<6.0.0
