# pytest-cov, coverage and codecov has to be in this specific order as
# the pip dependency resolver won't work alone
pytest-cov
coverage
codecov
dicttoxml==1.6.0
envparse
Flask
Flask-Cors
Flask-Cache
Flask-Limiter
Flask-RESTful
Flask-Compress
Flask-Script
Flask-SQLAlchemy
Flask-SSLify
healthcheck
Jinja2
pycrypto>=2.6.1
python-json-logger==0.1.2
PyYAML
ujson==1.33
uWSGI==2.0.17.1
Werkzeug
numpy==1.9.2
redislite
requests
gevent==1.1.0
unicodecsv
ipaddr==2.1.11
mixpanel
mixpanel-py-async
jmespath==0.9.1
scipy==0.18.0
addict
elasticsearch-dsl>=7.0.0,<8.0.0
