version: 2
jobs:
  build:
    working_directory: ~/circulate
    docker:
      - image: circleci/python:2.7
        # environment:
          # FLASK_CONFIG: testing
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      - run:
          command: |
            pip install virtualenv
            virtualenv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
          paths:
            - "venv"
      - run:
          command: |
            . venv/bin/activate
            python -m pytest
      # - store_artifacts:
          # path: test-reports/
          # destination: tr1
      # - store_test_results:
          # path: test-reports/
      - deploy:
          name: Deploy Master to google
          command: |
            gcloud version
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              # check existence of gcloud
              echo gcloud deploy 
            fi



